{
  "extends": [
    "react-app",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "dot-notation": "error",
    "prettier/prettier": "error"
  }
}
